
/* Add a gray background color with some padding */
body{ 

  margin: 0;
  overflow-x: hidden;
   padding: 0;
width: 100%;

}
  
/* Header/Blog Title */
.header {
width: 100%;

  align: center; 
 overflow-x:hidden;      /*Hide horizontal scrolbar*/
}
 


.recentNews {
    width: 100%;
    background-color: rgb(20, 117, 175);
    margin: 10px;  
     color: #fff;
}
.recentNews.news-title {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size:16px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

}
.recentNews .ct-blog {
    margin-bottom: 20px;
}
.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 400px;
}
.ct-blog .inner:hover {
    background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
    height: 300px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 100%;
    height: 100%;
}
.ct-blog-content {
    display: table;
    padding: 10px 0 18px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 13px 0px 9px;
    text-align: center;
     font-size: 11px;
}
.ct-blog-content .ct-blog-date span {
    font-size: 13px;
    color: rgb(20, 117, 175);  
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 13px;
    color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 16px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: #000;
}
