

* {
  box-sizing: border-box;
}

html {font-family: "Lucida Sans", sans-serif;}

.header{
color: blue;
padding: 15px;
min-height: 100px; 
background-color: #fffff7;
box-shadow: 3px 5px 7px #666666; 
border: 1px solid blue;
}
menu{
min-height: 40px; 
background-color: blue;
box-shadow: 3px 5px 7px #666666; 
border: 1px solid blue;
}

.body{
margin-top: 35; 
    background-color: #2B65EC;  
background-color:#87AFC7;
box-shadow: 3px 5px 7px #666666; 
border: 1px solid blue;

}



.container{
  max-width: auto;
  margin:auto;
  

}





.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 130px;
  height: 120px;
  padding: 3px;
  border-radius: 50%;
  top: -50px;
}



.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 130px;
  height: 120px;
  padding: 3px;
  border-radius: 50%;
  top: -50px;
}










<!-- footer -->

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer
*{
  font-family: 'Poppins', sans-serif;
    line-height: .5;

}

  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: auto;
  margin:auto;

}
.row{
  display: flex;
  flex-wrap: wrap;

}
ul{
  list-style: none;
  color:#ffffff;
}


.footer{
 background-color: #0000CD;
    padding: 50px 0;
    text-align: left;
 color: #FFFFC2;
}
.footer-col{
   width: 25%;
   padding: 0 19px;
   

 }
.footer-col h2::before{
  position: relative;

  content: '';
  position: absolute;
  left:0;
  bottom: -10px;

  height: 2px;
  box-sizing: border-box;
  width: 50px;

}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
 
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 467px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
</footer>