
* {
 padding:10; margin:10; box-sizing: border-box;
	}
	body {
	overflow-x:hidden;
	 width: 100%; 
   margin:10;
	} 


.header {

    background-color:#ffffff; 
    
}

.container-fluid{

  display: grid;
   grid-gap: 10px;
margin:10


}


	.recentNews {
    background-color:#357EC7; 
    width: 100%; 

}
.recentNews.news-title {
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size:20px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;

<!-----------space-between------------------>
}
.recentNews .ct-blog {
    margin-bottom: 20px;

}
.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: auto;
   
}
.ct-blog .inner:hover {
    background-color: #e6e6e6;
}
.ct-blog .fauxcrop {

    height: 360px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 600px;
}
.ct-blog-content {
    display: table;
    padding: 20px 0 10px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 20px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);  
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 15px;

color:black;
}

.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 20px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    
color:black;
}
  


 







<!-- team -->
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: justify;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 20px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 130px;
  height: 120px;
  padding: 3px;
  border-radius: 50%;
  top: -50px;
}





.team{
 color: #ffffff;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;


}

.team .team_member{
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  position: relative;
}

.team .team_member h3{

  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
 
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background: #fff;

}

.team .team_member .team_img img{
  width: 130px;
  height: 120px;
  padding: 3px;
  border-radius: 50%;
  top: -50px;
}



.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align:  justify;
  flex-wrap: wrap;

}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #000000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 130px;
  height: 120px;
  padding: 3px;
  border-radius: 50%;
  top: -50px;
}



.footer{background-color:#03415c;}
.footer2{background-color:#2b2b2b;}
.footer2 p{color:#fff; padding-top: 12px; font-size:14px;}

.footer .container .ft h6{color:#fff; font-weight:bold; padding:10px 0px 8px 0px; border-bottom:1px solid silver;}
.footer .container .ft ul li{color:#fff; font-size:15px; line-height:26px;}
.footer .container .ft ul li a{color:#fff;}
.footer .container .ft p{color:#fff; line-height:26px;}
.footer .container .ft p a{color:#fff;}






/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


section {
    flex-direction: column;
  }

  .card,
  .card .card-image img {
    width: 100%;
  }


.footer{background-color:#03415c;}
.footer2{background-color:#2b2b2b;}
.footer2 p{color:#fff; padding-top: 12px; font-size:14px;}

.footer .container .ft h6{color:#fff; font-weight:bold; padding:10px 0px 8px 0px; border-bottom:1px solid silver;}
.footer .container .ft ul li{color:#fff; font-size:15px; line-height:26px;}
.footer .container .ft ul li a{color:#fff;}
.footer .container .ft p{color:#fff; line-height:26px;}
.footer .container .ft p a{color:#fff;}