/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 14, 2018, 9:59:03 AM
    Author     : Suresh Khadka
*/
html,
body {
 padding: 0;
 margin: 0;
 height: 100vh; /* fallback for Js load */
 height: var(--doc-height);
overflow-x: hidden;
 width: 100%;
html,
body {
 padding: 0;
 margin: 0;
 height: 100vh; /* fallback for Js load */
 height: var(--doc-height);
overflow-x: hidden;
 width: 100%;



.container {
    max-width: 100%!important;
  }
 body{margin:0px;padding:0px;background-color:#f2f2f2!important}
.bgwrap{background-color: #fff;}
.bgwhite{background-color: #fff;margin-top: 8px;}
/*.container-top{padding:15px 0px 0px 0px;}*/*
#wrap{ margin: 0px; padding: 0px !important;}

.top_nav{background-color: #2f506c;}
.top_nav .navbar-light .navbar-nav .nav-link{color:#fff;}
.navbar-dark .navbar-nav .nav-link:hover{color:#fff;}
.tab-mar{margin-right:0px; padding-right:0px}
@media screen and (min-width: 960px){
.social li a{padding:4px 2px; margin:0px 2px; border-radius: 16px; background-color: #27435a;}
}
@media screen and (min-width: 720px){
 .tab-content{height: 380px;}
}
@media screen and (min-width: 100px){
 .bgwrap{background-color: #fff; padding:0px }
}
/*logo*/
.logo{padding:0.8rem 1rem 1rem 1rem; color:#7b7f83;}
.logo a{color:#7b7f83;}
.logo i{ color:#17a2b8;}
.logo span {margin-right:0.5rem; display:inline-block;}
.logo a:hover{text-decoration: none; color:#17a2b8;}
.slider-bg{padding:12px 0px;}
.romargin{margin-right: 1rem; margin-left: 0px;}
/*tab*/
#tab-bg{background-color: silver;}
.nav-tabs .nav-link{background-color:#004b8e; color:#fff; text-align: center; border-radius:0px!important; width:50%!important; border:0px!important; padding:8px;}
.nav-tabs .nav-link:hover{background-color:#008CBA; color:#fff; transition:all 0.5s ease-in-out 0s;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color:#ee1d25; color:#fff; border-radius:0px}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{transition:all 0.5s ease-in-out 0s;background-color:#008CBA;}
.tab-content .border-tab{border: 1px solid #e5e5e5; border-top:0px;}
#nav-tabContent{overflow: scroll;}

.news-mar{padding:0px;}
#nav-home ul,#nav-profile ul{padding:8px 14px; list-style: none;}
#nav-home ul li,#nav-profile ul li{ font-size:0.92rem; padding:8px 0px; }
#nav-home ul li, #nav-profile ul li{border-bottom:1px solid #e5e5e5;}
#nav-home ul li:last-child, #nav-profile ul li:last-child{border-bottom:0px;}


.intro_div{margin-top:10px; padding-bottom:10px;}
.intro_div h1{font-size:1.7rem; font-weight:bolder; margin-top:8px; padding:14px 8px 0px 0px; }
.intro_div h1 a{color:#004b8e;}
.intro_div h1 a:hover{color:#008CBA; transition:all 0.4s ease-in-out 0s; text-decoration:none;}
.intro_div p{text-align: justify; padding:0px 6px 0px 4px; margin:8px 0px -7px 0px; }
.intro_div .more{text-align: right; margin:0px; padding:0px 8px; font-weight: bold;}
.intro_div .more a:hover{transition:all 0.5s ease-in-out 0s; color:#ee1d25;}
.read_more{float: right; display: inline-block; background-color:#ee1d25; border-radius:4px; padding:4px 10px; margin-top:5px;}
.read_more a{color:#fff; font-weight: bold;}
.read_more:hover{transition:all 0.5s ease-in-out 0s;background-color:#008CBA;}
.read_more a:hover{ text-decoration: none;}

/*facility*/
.facility h2{font-size:12px; color:red!important;}
.facility-item h4{text-align: center; font-family:arial; font-size:18px; font-weight: bold; padding-top: 6px; }
.principal-msg{margin-top:8px; margin-bottom: 8px;}
.principal-msg .pad{padding-top: 8px;}
.principal-msg p{font-size:14px; text-align: justify;}
.principal-msg img{padding-top:10px;}
.principal-msg span{font-weight: bold;  display:block;}
.principal-msg h5{text-transform: uppercase;}
.line-res{border-left:8px solid silver;}

/*news event*/
.principal-msg1{margin-top:8px; margin-bottom: 8px;}
.principal-msg1 .pad{padding-top: 10px;}
.principal-msg1 p{font-size:14px; text-align: justify; padding:0px; margin: 0px;}
.principal-msg1 img{padding-top:4px; float: left; padding-right:8px;}
.principal-msg1 span{font-weight: bold; display:block; padding-bottom:12px;}
.principal-msg1 .h5{text-transform: uppercase; font-size:1.5rem; padding-bottom:10px;}
.principal-msg1 h5{font-size:16px; font-weight:bolder; line-height:1.4rem;}
/*news event new*/
.news{margin-top:0px;}
.news img{padding-top:4px; float: left; padding-right:8px; width:100px; height:93px;}
.news h4{text-transform: uppercase; font-weight:bold; padding:12px 0px;border-bottom:1px solid silver;}
.news h5{text-transform: uppercase; font-weight:bold; font-size:1rem; line-height:1.4rem;color:#004b8e;}
.news .mo{background-color: #4782b2; padding: 4px; margin: 0px;color:#fff;text-align: center;}
.news .da{background-color:#f3f3f3; padding:6px 0px; margin:0px; text-align: center; text-align: center; font-weight: bold;}
.news p{font-size:16px; text-align: justify; padding:0px; margin: 0px; }
.news ul{padding:0px; list-style:none;}
.news ul li{border-bottom:1px solid silver; padding:10px 0px;}
.news ul li:last-child{border: none; padding-bottom:0px;}
.news .container{padding-bottom:16px;}
.news ul li a{text-decoration:none; color:#004b8e;}
.news ul li a:hover{color: #007bff;transition:all 0.5s ease-in-out 0s;}

@media screen and (max-width: 960px){
.news-mar{margin-top: 16px;}
.nav-tabs .nav-link{width: 100%!important;}
.line-res{border-top:6px solid silver; border-left:none; }
.principal-msg{ text-align: center;}
.official{margin-left:16px;}
.slider-mar{margin-top:16px; margin-right:0px; padding-right: 0px;}
}

/*testmonial*/
.bgwhite .testmonial h4{text-transform: uppercase;}
.bgwhite .testmonial img{border-radius:6rem; float: none;}
.bgwhite .testmonial{padding-bottom:14px;}

.footer{background-color:#03415c;}
.footer2{background-color:#03415c;}
.footer2 p{color:#fff; padding-top: 12px; font-size:14px;}
.footer p{color:#fff; padding-top: 12px; font-size:14px;}
.footer .container .ft h6{color:#fff; font-weight:bold; padding:10px 0px 8px 0px; border-bottom:1px solid silver;}
.footer .container .ft ul li{color:#fff; font-size:15px; line-height:26px;}
.footer .container .ft ul li a{color:#fff;}
.footer .container .ft p{color:#fff; line-height:26px;}
.footer .container .ft p a{color:#fff;}

/*about us*/
.cmspage{ background-color:#fff; padding-top:8px;}
.cmspage h1{font-size:26px; padding-top:10px;}
.cmspage img{padding-bottom:10px;}
.cmspage p{text-align: justify;}
.cmspage table tr td{padding-left:10px;}
.left-nav{padding-top:8px;}
.left-nav .header3{background-color:#ee1d25; color: #fff; font-size: 16px; padding:6px 0px 8px 15px;}
#header3{background-color:#ee1d25; color: #fff; font-size:16px; padding:6px 0px 8px 15px; margin-bottom:2px;}
.left-nav ul{list-style:none;padding: 0px 0px 0px 2px}
.left-nav ul li{ line-height:24px !important; font-size:14px; padding-bottom:2px;}
.cmspage .list ul{list-style: none; padding-left:16px; color:#007bff;}
.cmspage .list ul li{padding:8px 0px; border-bottom:1px solid #c0c0c0;}
.cmspage .list ul li:last-child{border-bottom:none;}
.cmspage .list ul li a{line-height:24px; font-size:15px;}
.cmspage .list ul li a:hover{color:red; text-decoration:none;}
.cmspage .list1 ul li{color:#000!important;}
.cmspage .list1 ul li img{float:left; padding:0px 10px 0px 0px; height:130px; width:150px;}

.cmspage .detail h6{display:inline; font-weight:800; font-size:23px;}
.cmspage .detail h5{font-weight:800; font-size:18px; padding-bottom:6px;}
.cmspage .detail a:hover{color:red;}

.cmspage .news h2{font-size:20px; font-weight: bolder;}
.cmspage div nav ul li a:hover{text-decoration:none;}

/*download*/
.cmspage .download h2{font-size:18px; font-weight:800;}
.cmspage .download ul{padding-left:4px;}
.cmspage .download ul li{font-size:14px; line-height:26px; list-style:none;}

.gallery p{text-transform: uppercase; font-weight:bold; font-size:14px; margin-bottom:14px;text-align: left; }
.gallery a{text-decoration:none;}
.logo-section{margin-top:59px; padding-top:8px;}

.search h4{font-weight:bold; font-size:18px;}
.search h4 a{color:#000;}
.search h4 a:hover{text-decoration:none; color:red;}
.search{list-style:none;}
.search li { border-bottom:1px solid #c0c0c0; margin-bottom:22px;}

.official{background-color: #f4f4f4; text-align:center; font-size:14px;}
.official h5{font-size: 15px; margin-bottom:2px; margin-top:4px;}
.official img{width:41%; text-align: center;}
.official .desig{color:red; margin-bottom:2px;}
