* {
  box-sizing: border-box;

}
body {
  background: #36d18e;

  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  margin: 0;
 padding: 10px;
  font-family: "Poppins", sans-serif;
}

.container{

  max-width: 550px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.header {
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  padding: 18px 30px;
  justify-content: center;
  display: flex;
width: 100%;
 margin-top: 5px;
}

.header h2 {
  margin: 0;
font-size: 25px;
}

form {
  padding: 20px 30px;
    font-size: 13px;
align:center;

}

.form-control {
  position: relative;
  margin-bottom: 2.5px;
  padding-bottom: 2px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 1px;
}

.form-control input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 13px;
  padding: 10px;
  width: 85%;
  background-color: #F5FFFA;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  top: 40px;
 left: 20px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  buttom: 0;
  left: 0;
}

span {
  padding: 5px;
}
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

#button {
  background: #36d18e;
  border: 2px solid #36d18e;
  color: white;
  display: block;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-family: inherit;
}
