body{padding:0px; margin-top:20px; background-color:#0396cd; 
font:12px/24px tahoma, Verdana, Sans-serif; line-height:16px; color:#7c7c7c; }
div, p, ul, h2, img{padding:0px; margin:0 0 0;}

h1{color:#1099c4; font: 36px "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:bold; margin:0px 0 5px; } 
h2{color:#1099c4; font: 24px "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:bold; margin:0 0 0px; } 
h3{color:#369; font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif; margin:5px 0 5px; } 
ul{list-style-type:none}
p{padding:0px;}

/*---- SPACER----*/
#spacer{clear:both;width:100%; height:5px; position:relative; background-color: #f3f3f3; margin:0 auto;}
#cleardiv { clear: left;}


/*----MAIN PANEL----*/
#mainpan
{
	position:relative; background-color:#eee; overflow:auto;
	width:950px; height:auto; margin:0 auto; padding:15px;	
	border:10px solid #84bed3; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;	
}

#innerpan
{
	width:880px; height:auto;
	margin:0 auto; padding:10px 34px 10px;
	border:1px Solid #fff;
	overflow:auto;

}


#topleft{width:20%; float:left; height: auto; vertical-align:center;}
#topcenter{width:55%; float:left; height: auto; text-align:center;}
#topright{width:20%; float:left; height: auto;}
.green{color:green;}
.whitebg{background-color:#e7e7e7;}
.bdrleft{border-left:2px solid #999;}
.bdrtr{border-bottom:1px solid #eddca3;}
.lgfonts{font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.slcframe{width:98%; border:1px solid #FFF; padding:8px; background:#ddd;}
#bgline{ background:url(../images/bg_line.jpg) repeat-x; height:2px; width:100%;}
#bgline2{ background:url(../images/bg_line2.jpg) repeat-x; height:2px; width:100%;}

fieldset { border:1px solid #ccc; background-color:#e7e7e7; padding:20px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
}

legend {
  padding:10px;
  background-color:#33AD14;
  border:1px solid #228409;
  font:24px Verdana,Arial, Tahoma; 
  font-weight:bold;
  font-size:100%;
  color:#FFF;
  text-align:left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}	

label{margin-left:160px;}

#leftField{float:left; width:250px; text-align:right; padding:7px; 10px 0px}
#rightField{float:left width:400px;}

input[type=text], input[type=password]{
	padding:5px; border:1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#fff;
	color:#555;
	margin-bottom:10px;
}

input[type=submit], input[type=button], input[type=reset], form a{
	border:none; margin-right:1em; padding:7px; text-decoration:none;
	font-size:12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:#4e9cea; color:white;
	box-shadow: 0 2px 0 white;
	-moz-box-shadow: 0 2px 0 white;
	-webkit-box-shadow: 0 2px 0 white;
}

input[type=submit]:hover,  input[type=button]:hover, input[type=reset], form a:hover{
	background:#33AD14;
	cursor:pointer;
}


#topmenu ul {line-height:auto;}
#topmenu li {float:right;  margin:0 4px 3px;  text-align:center; border:0px solid #64b8ff; 

}

#topmenu li  a{ font-weight:bold; background-color:#79c2ff; color:#fff; text-decoration:none; padding:6px 10px 6px;  overflow:auto;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}
#topmenu li a:hover{background:#33AD14;}


#show-result{ border:10px solid #fff; background-color:#f1f1f1; padding:30px; margin: 20px 2px; 0;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
-khtml-border-radius: 7px;
}
#show-result a{color:#e16704;}
#show-result a:hover{color:#336688}


.footer{color:#FFFFFF; margin-top:20px; line-height:20px;}

hr{
border: 0;
border-bottom:1px dashed #336699; 
border-color:#fff;
width: 100%;
color: #cdcdcd;
background-color: #bbb;
height: 0px;
}

.rotate {
	text-align:center;
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.centeright{
	float: left;
    position: relative;
    left: 40%;
}

.border-main{
	border:2px solid #DDD;
}


@media print
{
.noprint {display:none;}
}

@media screen
{

}

