@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
body,.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6,h1, h2, h3, h4, h5, h6, a { font-family: 'Mukta', sans-serif;}
.uk-link, a {
    color: #222;
}
img {
    opacity: 0.95;
}
img:hover {
    opacity: 1;
}
.uk-link:hover, a:hover {
    color: #f6892b;
    text-decoration: none;
}
p {
    font-size: 18px;
    line-height: 32px;
    color: #333;
}
em {
    color: #565656;
}
.main__header {
    background: #0162af;
    position: relative;
}
.bg-logo {
    background: #02314b !important;
}
.navbar-light .navbar-nav .nav-link {
    line-height: 45px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 0 20px;
    font-family: 'Karma';
}
.menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}  
.menu a:hover {
    color: #f00 !important;
} 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background: #1a9fb2;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #02314b;
    color: #ffffff;
}
.uk-navbar-dropdown {
    top: 39px !important;
    padding: 8px;
    width: 260px;
}
.uk-search-navbar .uk-search-input {
    font-size: 17px;
}
.uk-navbar-nav>li>a {
    color: #02314b;
    font-size: 16px;
    line-height: 45px;
    min-height: auto;
    font-family: 'Mukta';
    font-weight: 800;
}
.karma {
    font-family: 'Karma';
}
.heading__formall .tt {
    font-size: 28px;
    font-weight: 800;
    display: inline-block;
    color: #02314b;
    font-family: 'Karma';
    line-height: 48px;
}
.heading__formall {
    display: block;
    width: 100%;
    overflow: hidden;
    background: #17a2b824;
    line-height: 50px;
    border-top: 5px solid #def2f5;
    margin-bottom: 25px;
    padding: 0 15px;
    position: relative;
}
.tt:before {content: "\f24d";font-family: 'Font Awesome 5 Free';font-size: 20px;z-index: 16;position: relative;margin-right: 10px;}
.tt:after {
    background: #fff;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 7px;
    content: "";
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #f6882b;
}
.tta {
    float: right;
    line-height: 20px;
    vertical-align: middle;
    margin: 10px;
}
.tta:hover {
    background: #e87e22 !important;
}
.blogbx {
    position: relative;
    padding-top: 130px;
}
.blogbx:before {content: "";position: absolute;background: #02314b;width: 100%;left: 0;height: 50%;top: 0;}
.new__head {
    position: relative;
}
.new__head legend {
    font-size: 7vw;
    font-weight: 800;
    color: #4c7c96;
    position: absolute;
    top: -125px;
    width: 100%;
    left: 0;
    opacity: 0.1;
}
.new__head a {
    position: absolute;
    top: -78px;
    z-index: 99;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    left: 48%;
}
.cover {
    object-fit: cover;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #ec1e24 !important;
    color: #fff !important;
}
.text-init {
    color: #c7c7c7;
}
.ft-15 {
    font-size: 15px;
    line-height: 28px;
}
.ft-17 {
    font-size: 17px;
    line-height: 34px;
}
.ft-18 {
    font-size: 18px;
    line-height: 30px;
}
.ht-550 {
    height: 550px;
}
.ht-400 img {
    height: 400px;
}
.ht-350 img {
    height: 350px;
}
.ht-190 img {
    height: 190px;
}
.ht-100 img {
    width: 90px;
    height: 90px;
} 
.ht-220 img {
    height: 210px;
}
.ht-140 img {
    height: 95px;
    width: 140px;
}
.ht-100 img {
    height: 85px;
    width: 100px;
}
.ht-90 img {
    height: 75px;
    width: 75px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #df2929;
    background-color: transparent;
    border-color: #df2929 !important;
}
.my-overlay {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(95%,rgb(0, 0, 0)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgb(0, 0, 0) 100%);
}
#skip-ads {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999999;
    margin: auto;
    position: fixed;
    text-align: center;
    background: #fff;
}
.footer p {
    color: #fff;
    line-height: 32px;
    font-size: 16px;
    margin: 0;
}
.spcial-bx:after {
    content: "";
    border: 2px solid #02314b;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
}
fieldset {
    border: 10px solid #f6882b;
}
legend {
    display: inline-block;
    width: auto;
    padding: 0 25px;
    margin: 0;
}
#skip-ads img {margin: 20px;box-shadow: 0px 0px 10px -6px #000000;}
.uk-tab-right::before {
    border: 0;
}
.uk-active > .bg-class-activ {
    background: #28a5b7 !important;
    border: 1px solid #28a5b7 !important;
    color: #fff !important;
}
.uk-active > .bg-class-activ a, .uk-active > .bg-class-activ i {
    color: #fff !important;
}
.foot {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 20px;
    color: #0df;
    font-weight: 600;
    font-family: 'Karma';
    border-bottom: 1px solid #024c75;
}
@media    all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .dropdown-menu{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
@media only screen and (max-width: 600px) {
    .ht-550 {
        height: auto;
    }
    .mob-vv {
        left: 0 !important;
        margin-top: 0 !important;
    }
    .spcial-bx:after {
        display: none;
    }
}