#input_preeti
 {
     font-family: preeti;
     color: black;
     font-size:20px;
 }
#unicode_text
{
    background-color:white;
    color: black;
    font-size:16px;
}
.navbar-dark.bg-mdstyle .navbar-nav .nav-link {
    color: #eee;
}
.bg-mdstyle{
    padding: 4px;
    background: linear-gradient(90deg, rgba(236,30,36,1) 0%, rgba(51,102,204,1) 100%);
    box-shadow: 0px 0px 9px 1px #864282;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
.dash-card{
    padding: 15px;
    background: #fdfdfd;
    margin-top: 15px;
    margin-bottom: 15px;
}
.title-box {
    border-bottom: 1px solid #dedede;
}
.title-member {
    margin: -2px 0;
    display: inline-block;
    border-bottom: 3px solid #343a40;
    padding-bottom: 4px;
}
label.error{
    color: #f44336;
}
input.error, textarea.error{
    border: 1px solid #f44336;
}

.ajax-loader{
    position: fixed;
    top: 30%;
    left: 43%;
    z-index: 10000;
    background: #ffffff;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px 35px;
    box-shadow: 0px 0px 15px 3px #eee;
    display:none;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}
.ajax-loader img{
    width: 120px;
    margin-bottom: 5px;
}
.ajax-loader h5{
    margin: 0;
    color: #555555;
    font-size: 25px;
}
span.tox-statusbar__branding {
    display: none;
}
label.error {
    color: #f44336;
    position: absolute;
    bottom: -32px;
    left: 0;
}


















